*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Georgia", serif;
    color:#3b2e22;
    background:#f4efe8;
}

.hero{
    height:100vh;
    background:url("/MarianaProque/assets/italy-hero.jpg" );
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    position:relative;
}

.hero-content{
    position:relative;
    color:white;
    max-width:800px;
}

.top-text{
    letter-spacing:6px;
    color:#ffffff;
    margin-bottom:20px;
}

.titulo{
    font-size:110px;
    font-weight:600;
    color: #e57e18;
    text-shadow: #1d1510 1px solid;
}

.hero hr{
    width:120px;
    height:2px;
    border:none;
    background:#c8851a;
    margin:20px auto;
}

.frase{
    font-style:italic;
    font-size:20px;
    opacity:0.9;
}


.bloco{
    padding:100px 12%;
    text-align:center;
}

.bloco h4{
    letter-spacing:5px;
    color:#c07a2a;
    margin-bottom:10px;
}

.bloco h1{
    font-size:50px;
    margin-bottom:40px;
}

#descricao{
    max-width:900px;
    margin:auto;
    font-size:20px;
    line-height:1.8;
    text-align:justify;
}

.pontos img{
    position: relative;
    overflow: hidden;
    aspect-ratio: 3/4;
    cursor: pointer;
    transition: 0.3s;
}

#pontos-interessantes{
    background:#2d2219;
    color:white;
}

#pontos-interessantes div{
    width:45%;
    display:inline-block;
    margin:20px;
    background:#3a2b20;
    border-radius:15px;
    overflow:hidden;
    text-align:left;
}

#pontos-interessantes img{
    width:100%;
    height:220px;
    object-fit:cover;
}

#pontos-interessantes h3{
    font-size:26px;
    padding:20px 20px 10px;
    background-position: center;
    transition: transform 0.7s cubic-bezier(.16, 1, .3, 1);
}

.pontos img:hover{
    transform: scale(1.07);
}

#pontos-interessantes p{
    padding:0 20px 25px;
    line-height:1.6;
}

.card{
    background: #f4efe8;
    width:45%;
    display:inline-block;
    margin:20px;
    padding:30px;
    border-radius:12px;
    text-align:left;
    box-shadow: #1d1510;
}

#personalidades{
    background:#2b2018;
    color:white;
}

#personalidades div{
    width:45%;
    display:inline-block;
    background:#3a2b20;
    margin:20px;
    padding:30px;
    border-radius:12px;
    text-align:left;
}

#personalidades h4{
    font-size:24px;
    color:#f1c27d;
}

#personalidades p{
    margin-top:10px;
    line-height:1.6;
}

footer{
    background:#1d1510;
    color:white;
    text-align:center;
    padding:60px 20px;
}

footer hr{
    border:none;
    height:2px;
    width:100px;
    background:#d4a04a;
    margin:30px auto;
}

footer h3{
    font-weight:normal;
    font-style:italic;
}